{% extends '../layouts/base.twig' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <section class="p-index">
        {% include '../components/index/promo.twig' %}
    </section>
{% endblock %}
