.mb-16 {
    margin-bottom: 16px;
}

.mb-20 {
    margin-bottom: 16px;
    @media (--media-md) {
        margin-bottom: 20px;
    }
}

.mb-28 {
    margin-bottom: 20px;
    @media (--media-md) {
        margin-bottom: 28px;
    }
}

.mb-32 {
    margin-bottom: 20px;
    @media (--media-md) {
        margin-bottom: 32px;
    }
}

.mb-40 {
    margin-bottom: 22px;
    @media (--media-md) {
        margin-bottom: 40px;
    }
}

.mb-60 {
    margin-bottom: 28px;
    @media (--media-md) {
        margin-bottom: 40px;
    }

    @media (--media-xl) {
        margin-bottom: 60px;
    }
}

.mb-120 {
    margin-bottom: 60px;
    @media (--media-lg) {
        margin-bottom: 100px;
    }
    @media (--media-xl) {
        margin-bottom: 120px;
    }
}

.pb-120 {
    padding-bottom: 60px;
    @media (--media-lg) {
        padding-bottom: 80px;
    }
    @media (--media-xl) {
        padding-bottom: 120px;
    }
}

.pt-120 {
    padding-top: 60px;
    @media (--media-lg) {
        padding-top: 80px;
    }
    @media (--media-xl) {
        padding-top: 120px;
    }
}
