.header {
    position: relative;
    z-index: 120;
    padding: 16px 0;
    &._active {
        z-index: 1000;
    }

    @media (--media-lg) {
        padding: 20px 0;
        background-color: transparent;
    }
    &__container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .main-menu {
        display: none;
        @media (--media-lg) {
            display: block;
        }
    }
}