.modal {
    --modalBorderRadius: var(--border-radius);
    --modalBC: var(--c-white);
    --modalBoxShadow: 0 -29px 60px rgba(0, 0, 0, 0.1);
    --modalTransition: var(--transition);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100vh;
    padding: 60px 20px 40px;
    border-radius: var(--modalBorderRadius);
    background-color: var(--modalBC);
    animation: modal 1s ease;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 0;
    }
    @media (--media-sm) {
        top: 50%;
        left: 50%;
        height: auto;
        min-height: 100vh;
        padding: 60px 32px;
        box-shadow: var(--modalBoxShadow);
        transform: translate(-50%, -50%);
    }
    @media (--media-md) {
        width: 550px;
        max-height: 600px;
        min-height: auto;
    }

    &._active {
        display: block;
        @media (--media-lg) {
            display: grid;
            place-items: center;
        }
    }

    &__close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 24px;
        height: 24px;
        border: none;
        background: none;
        cursor: pointer;
        transition: var(--modalTransition);

        .icon {
            width: inherit;
            height: inherit;
        }

        &:hover {
            opacity: 0.7;
        }

        &:active {
            opacity: 0.5;
        }
    }

    &__title {
        text-align: center;
    }

    .form {
        margin: 0 auto;
    }
}
